{% extends 'base.html.twig' %}

{% block content %}
<table class="ui table">
	<thead>
		<tr>
			<th>Domaine</th>
			<th class="right aligned">Crédit</th>
			<th class="right aligned">Résultat (/20)</th>
		</tr>
	</thead>
	<tbody>

		{% for domain, domainInfos in domains %}
		<tr class="domain {%if domainInfos.isValid %}positive{% else %}negative{% endif %}">
			<td class="">{{ 'Domaine ' ~ domain }}</td>
			<td class="right aligned">{{ domainInfos['coefficientTotal'] }}</td>
			<td class="right aligned">{{ domainInfos['average'] }}</td>
		</tr>
		{% for mark in domainInfos['marks'] %}
		<tr>
			<td>{{ mark.subject }}</td>
			<td class="right aligned">{{ mark.coefficient }}</td>
			<td class="right aligned {% if mark.value < 10 %}negative{% else %}positive{% endif %}">{{ mark.value }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
