{% extends 'base.html.twig' %}

{% block content %}
<table class="ui table">
	<thead>
		<tr>
			<th>Domaine</th>
			<th>Crédit</th>
			<th>Résultat (/20)</th>
		</tr>
	</thead>
	<tbody>

		{% for domain, domainInfos in domains %}
		<tr>
			<td class="active">{{ 'Domaine ' ~ domain }}</td>
			<td class="active">{{ domainInfos['coefficientTotal'] }}</td>
			<td class="active">{{ domainInfos['average'] }}</td>
		</tr>
		{% for mark in domainInfos['marks'] %}
		<tr class="{% if mark.value < 10 %}negative{% else %}positive{% endif %}">
			<td>{{ mark.subject }}</td>
			<td>{{ mark.coefficient }}</td>
			<td>{{ mark.value }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
